<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#140F50">
  
  <meta name="robots" content="noindex,nofollow" />
  <meta name="apple-itunes-app" content="app-id=480883488">
<link rel="manifest" href="/web-app-manifest/manifest.json">
  <meta name="sentry-trace" content="3c4514bbdae8468ba592d9bf4b8f0be9-6a504453324f4026-0"/>

  <link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/dist/fonts/lato/extended/Lato-Regular-bd03a2cc27.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/dist/fonts/lato/extended/Lato-Bold-cccb897485.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/dist/fonts/lato/extended/Lato-Italic-4eb103b4d1.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/no_variables/bundles/fonts-eb4a10fb18.css" media="screen" />
  <link rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/862476a8f02830569c92f123eada858f/variables-6ceabaf6137deaa1b310c07895491bdd.css" media="all" />
  <link rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/common-67f93f90f6.css" media="all" />
  <link rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/wiki_page-64d84d7ffb.css" media="screen" />
  <link rel="stylesheet" href="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/new_styles_normal_contrast/bundles/new_user_tutorials-6b15f87caf.css" media="screen" />
  <link rel="apple-touch-icon" href="https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_264300000000000001/attachments/7155/AU_Logo_sm_round.png" />
  <link rel="icon" type="image/x-icon" href="https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_264300000000000001/attachments/974809/au-16x16.png" />
  <link rel="preload" href="https://du11hjcvx0uqb.cloudfront.net/dist/javascripts/translations/en-GB-ecfceef970.json" as="fetch" type="application/json" crossorigin="anonymous">
  <link rel="stylesheet" href="https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_264300000000000001/attachments/3822871/AU_CSS_Theme_15_12_25.css" media="all" />

  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/brandable_css/862476a8f02830569c92f123eada858f/variables-6ceabaf6137deaa1b310c07895491bdd.js" defer="defer"></script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/timezone/Australia/Adelaide-b44860bb16.js" defer="defer"></script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/timezone/Australia/Adelaide-b44860bb16.js" defer="defer"></script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/timezone/en_GB-31745e04c9.js" defer="defer"></script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/webpack-production/moment/locale/en-gb-chunk-f96b3a4e2594b59c.js" defer="defer"></script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/webpack-production/react-entry-be1bde4765d8e661.js" crossorigin="anonymous" defer="defer"></script>
  <script src="https://du11hjcvx0uqb.cloudfront.net/dist/webpack-production/main-entry-54c6efc1003eca63.js" crossorigin="anonymous" defer="defer"></script>

</head>
<body class="with-left-side course-menu-expanded padless-content pages primary-nav-expanded full-width context-course_30652 responsive_student_grades_page">
  
<div id="content-wrapper" class="ic-Layout-contentWrapper">      
  <div id="content" class="ic-Layout-contentMain" role="main">
 {{ content }}
</div>
  </div>
</body>
    </html>
